@tailwind base;
@tailwind components;
@tailwind utilities;

/* GOOGLE FONTS
/* font-family: 'Roboto Condensed', sans-serif; */


body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start-button {
  font-family: 'Roboto Condensed', sans-serif;
}

.start-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
